{% extends "obras/base.html" %}
{% load static %}


{% block main %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Acerca de siteOBRAS</h1>
            <p class="lead">siteOBRAS fue desarrollada por Milton Villar.</p>
            <p class="lead">un Ingeniero Civil de la Patagonia Argentina</p>
            <p class="lead">Esta aplicacion pretende ser el puntapie inicial para una app de control de obras.</p>
        </div>
    </div>
  </div>

{% endblock %}