{% extends "obras/base.html" %}
{% load static %}


{% block main %}
    
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/media/home.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">siteOBRAS</h1>
                <p class="lead">La presente aplicación tiene como objetivo ser un sitio de posteos de obras ya sea para una empresa constructora o para un profesional de la construcción.</p>
                <p class="lead">Haciendo click en 'Obras' podra ver las obras posteadas</p>
                <p class="lead">Haciendo click en 'Contacto' podra enviar mensajes a los usuarios registrados.</p>
                <p class="lead">Al registrarse y loguearse podra crear, actualizar y eliminar nuevos Post de Obras.</p>
                </div>
              </div>
            </div>
          </div>
  

{% endblock %}