{% extends "obras/base.html" %}
{% load static %}


{% block main %}
    
    <p style="margin-top: 10px;"></p>
    <h1 style="margin-left: 25px;">Contacto</h1>
    <p style="margin-left: 25px;">Envie un mensaje a un usuario registrado completando el siguiente formulario.</p>

    <form style="margin-left: 25px;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>

{% endblock %}