{% extends "obras/base.html" %}
{% load static %}


{% block main %}
    <p style="margin-top: 10px;"></p>
    <ul>
        {% for obra in obras %}
        <li> {{obra.id}} - {{obra.titulo}} 
            <a href="{% url 'obra-detalle' obra.id %}">Detalle</a>
            {% if user.is_authenticated %}
                <a href="{% url 'obra-actualizar' obra.id %}">Actualizar</a>
                <a href="{% url 'obra-eliminar' obra.id %}">Borrar</a>
            {% endif %}
        </li>
        {% endfor %}
        
    </ul>
{% endblock %}