{% extends "obras/base.html" %}
{% load static %}


{% block main %}
    <p style="margin-top: 10px;"></p>
        
    <ul style="margin-left: 25px;">        
        <li> {{obra.id}} - {{obra.titulo}} 
            {% if user.is_authenticated and user.id == obra.autor.id %}
                <a href="{% url 'obra-actualizar' obra.id %}">Actualizar</a>
                <a href="{% url 'obra-eliminar' obra.id %}">Borrar</a>
            {% endif %}
        </li>
        
        
    </ul>

{% endblock %}