{% extends "obras/base.html" %}
{% load static %}


{% block main %}
    <p style="margin-top: 10px;"></p>
    <ul>
        {% if not obras %}
        <h1>
            No hay obras
        </h1>
        {% endif %}   
          
        <div class="album py-5 ">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for obra in obras %}
              <div class="col">
                <div class="card shadow-sm">
                  <img height="256px" src="{{obra.image_url}}"></img>
                   <div class="card-body">
                    <p class="card-text">
                        <h5>{{obra.titulo}}</h5>
                        <h6>{{obra.subtitulo}}</h6>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'obra-detalle' obra.id %}">Detalle</a>
                      </div>
                      <small class="text-muted">FECHA</small>
                    </div>
                  </div>           
                </div>
              </div>
              {% endfor %}
            </div>
        </div>

{% endblock %}